# Arise Application Challenge
---

Please answer the questions shown below by completing the code within this notebook and filling in your final answers in the respective block of the arise Challenge Answers form.

---

### Step 1 (this step does not have an answer in the answer form)

Please import the Pandas package. You will need to install the package if you do not already have them (`hint - google anaconda install pandas`).

In [2]:
# Add your code for Question 1 in this code block
import pandas as pd

---

### Step 2 (this step does not have an answer in the answer form)

Use Pandas to read in the csv titled `application_data.csv` as a Panda's dataframe. Once you have read in the data as a dataframe use Panda's `head()` function to show an overview of the data.

In [3]:
# Add your code for Question 2 in this code block
data = pd.read_csv("application_data.csv")
data.head(16)

,customerID,loanId,appilcationDate,LoanNumber,LoanAmount,InterestRate,TermDays,repaymentDueDate,repaymentPaidDate
0,839247458,302953235622,2018-12-21,1,7500.0,30.0,30,2019-01-20,2019-01-16
1,217540860,302960101337,2018-12-23,1,7500.0,30.0,30,2019-01-22,2018-12-29
2,522238092,303016988846,2019-01-08,1,7500.0,30.0,30,2019-02-07,2019-01-08
3,096754469,302999605504,2019-01-04,1,7500.0,30.0,30,2019-02-03,2019-01-08
4,410354345,302951945878,2018-12-21,1,7500.0,30.0,30,2019-01-20,2019-01-17
5,027610141,302955854172,2018-12-22,6,45000.0,10.0,90,2019-03-21,2019-01-09
6,390748423,302941689535,2018-12-19,4,90000.0,5.0,180,2019-06-18,2019-01-15
7,642947351,302945727970,2018-12-19,3,45000.0,10.0,90,2019-03-19,2019-01-16
8,227382168,302953081988,2018-12-21,4,45000.0,10.0,90,2019-03-20,2019-01-16
9,380684555,302997991362,2019-01-03,4,30000.0,10.0,90,2019-04-02,2019-01-11
10,538656471,302906015723,2018-12-10,1,13500.0,18.0,45,2019-01-24,2019-01-07
11,067501201,302955909012,2018-12-22,4,19000.0,15.0,60,2019-02-21,2019-01-14
12,779403451,302941503245,2018-12-19,4,59500.0,7.5,180,2019-06-18,2019-01-16
13,706745423,302942096687,2018-12-19,1,32000.0,7.5,180,2019-06-18,2019-01-04
14,175032099,302948765318,2018-12-20,1,8000.0,36.0,45,2019-02-03,2018-12-23
15,756846529,302943137882,2018-12-19,7,16000.0,20.0,60,2019-02-18,2018-12-21

You should now be able to see that the dataset contains information relating to loans that have been disbursed. Each row of the data is specific to a particular loan and displays the customer's ID that took out the loan, a unique loan ID, the date when the client applied for the loan, the loan number of the specific loan (how many loans the client has now taken out), the amount, interest rate, term days, the date when the loan repayment was due and the date the loan was actually repaid.

---

### Question 1

Convert `appilcationDate`, `repaymentDueDate` and `repaymentPaidDate` in the dataframes to datetimes.

In [4]:
# convert to dates
data_1 = pd.to_datetime(data.appilcationDate)
data_2 = pd.to_datetime(data.repaymentDueDate)
data_3 = pd.to_datetime(data.repaymentPaidDate)
((data_1),(data_2),(data_3))

(0     2018-12-21
 1     2018-12-23
 2     2019-01-08
 3     2019-01-04
 4     2018-12-21
          ...
 995   2018-01-15
 996   2018-02-13
 997   2018-01-03
 998   2018-11-19
 999   2018-01-24
 Name: appilcationDate, Length: 1000, dtype: datetime64[ns],
 0     2019-01-20
 1     2019-01-22
 2     2019-02-07
 3     2019-02-03
 4     2019-01-20
          ...
 995   2018-02-14
 996   2018-03-15
 997   2018-02-02
 998   2018-12-19
 999   2018-02-24
 Name: repaymentDueDate, Length: 1000, dtype: datetime64[ns],
 0     2019-01-16
 1     2018-12-29
 2     2019-01-08
 3     2019-01-08
 4     2019-01-17
          ...
 995   2018-01-20
 996   2018-03-14
 997   2018-10-12
 998   2018-12-17
 999   2018-02-11
 Name: repaymentPaidDate, Length: 1000, dtype: datetime64[ns])

In [5]:
data_1.dtype
data_2.dtype
data_3.dtype

dtype('<M8[ns]')

Now that the dates have been converted, How many `unique`data types are contained within the application dataset?

In [6]:
# data types
len(data.dtypes.unique())

3

### Question 2

Please calculate the `average` loan amount, interest rate and termdays for all the loans in the dataset? `Round` all number to two decimal places.

In [7]:
# 2a avg loan amount
amt = data.LoanAmount
amt.mean().round(2)

13828.08

In [8]:
# 2b avg interest rate
intrst_rt = data.InterestRate
intrst_rt.mean().round(2)

23.06

In [9]:
# 2c avg term days 
trm_days = data.TermDays
trm_days.mean().round(2)

42.08

---

### Question 3

Please create a new column called `dateDifference` which needs to contains the number of days between when the loan was repaid and when it was due to be repaid. 

Count the number of loans that were paid more than 3 days late. This can be done by first creating a dataframe only containing the loans that were paid more than 3 days late.

In [10]:
# date difference
#refer to question 1 for the definition of the variables
data["dateDifference"] = data_2 - data_3
data.head(11)

,customerID,loanId,appilcationDate,LoanNumber,LoanAmount,InterestRate,TermDays,repaymentDueDate,repaymentPaidDate,dateDifference
0,839247458,302953235622,2018-12-21,1,7500.0,30.0,30,2019-01-20,2019-01-16,4 days
1,217540860,302960101337,2018-12-23,1,7500.0,30.0,30,2019-01-22,2018-12-29,24 days
2,522238092,303016988846,2019-01-08,1,7500.0,30.0,30,2019-02-07,2019-01-08,30 days
3,096754469,302999605504,2019-01-04,1,7500.0,30.0,30,2019-02-03,2019-01-08,26 days
4,410354345,302951945878,2018-12-21,1,7500.0,30.0,30,2019-01-20,2019-01-17,3 days
5,027610141,302955854172,2018-12-22,6,45000.0,10.0,90,2019-03-21,2019-01-09,71 days
6,390748423,302941689535,2018-12-19,4,90000.0,5.0,180,2019-06-18,2019-01-15,154 days
7,642947351,302945727970,2018-12-19,3,45000.0,10.0,90,2019-03-19,2019-01-16,62 days
8,227382168,302953081988,2018-12-21,4,45000.0,10.0,90,2019-03-20,2019-01-16,63 days
9,380684555,302997991362,2019-01-03,4,30000.0,10.0,90,2019-04-02,2019-01-11,81 days
10,538656471,302906015723,2018-12-10,1,13500.0,18.0,45,2019-01-24,2019-01-07,17 days

In [11]:
# number of loans more than 3 days late
count = 0
#converted to timedelta because timedelta could only operate on timedelta
date_count = pd.to_timedelta(-3)
for index in data.dateDifference:
       if index < date_count:
            count +=1
print(f"{count} were more than 3 days late")

183 were more than 3 days late

---

### Question 4

Please group the dataset by `TermDays` and calculate the `mean` loan amount and the `standard deviation` of loan amount within each term.

What is the mean loan amount in 30-day loans and what is the standard deviation of  loan amount in 90-day loans? Please give your answers to the nearest two decimal places.

In [13]:
# mean loan amount in 30-day loans and standard deviation of loan amount in 90-day loans
grouped_term_days = data.groupby("TermDays")
for term_day, loan_amount in grouped_term_days:
    if term_day == 30:
        print(loan_amount.mean())

customerID                      inf
loanId                          inf
LoanNumber                   2.1375
LoanAmount                  7941.96
InterestRate                28.5621
TermDays                         30
dateDifference    -2 days +02:24:00
dtype: object

In [190]:
#standard deviation of loan amount in 90-day loans
grouped_term_days = data.groupby("TermDays")
for term_day, loan_amount in grouped_term_days:
    if term_day == 90:
            print(loan_amount.std())

LoanNumber                        2.89106
LoanAmount                        18050.1
InterestRate                      2.18096
TermDays                                0
dateDifference    13 days 12:38:42.267342
dtype: object

In [ ]:
#for i in data.TermDays == 30:
#        print(i)

---

### Question 5

`Late` loans are defined as loans that were paid `more than 3 days` after their due date. Please find the average number of days that these loans were paid beyond their due date for each `week of the year`. This will require you to break all `appilcationDate's` down into the week of the year they were made and then perform a group by. 

What is the average number of days that `late` loans applied for in the second week of the year were paid late? Please sumbit your answer rounded to two decimal places.

In [1]:
# week of year and average number of late days
late_payment = data["dateDifference"]
late_payment["week"] = latepayment.dateDifference.dt.week
late_payment.head()

NameError: name 'data' is not defined

---

### The End

Thank you for completing the challenge. Please make sure you have submitted all of your answers to the arise Challenge Answers form.